<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    id="com.sectionpi.androidsystem"
    version="1.0.0">
    <name>AndroidSystem</name>
    <description>Android system plugin</description>
    <license>OC Section Pi</license>
    <keywords>cordova,android</keywords>
    
	<repo>https://github.com/derozgurg/cordovaPluginDeneme</repo>
    <issue>https://github.com/derozgurg/cordovaPluginDeneme/issues</issue>

  <js-module src="www/androidsystem.js" name="androidsystem">
    <clobbers target="sectionpi.androidsystem" />
  </js-module>

  <!-- android -->
  <platform name="android">

    <config-file target="res/xml/config.xml" parent="/*">
      <feature name="Keyboard">
        <param name="android-package" value="com.sectionpi.system.AndroidSystem" />
        <param name="onload" value="true" />
      </feature>
    </config-file>

    <source-file src="src/android/AndroidSystem.java" target-dir="src/com/sectionpi/system" />
  </platform>
    

</plugin>
